@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
	--primary-color: #20a0b1a9;
	--secondary-color: #ced6e5;
	--tercenary-color: #9aa0ab;
	--write-color: #2b364a;
}

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--primary-color);
	color: var(--write-color);
	font-family: "Open sans", sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
}

.container {
	background: var(--secondary-color);
	max-width: 700px;
	margin: 75px auto;
	padding: 20px;
	border-radius: 10px;
}
